In [40]:
import pandas as pd

In [41]:
ryanair=pd.read_csv(r"C:\Users\matas\Desktop\Programi ML\Ryanair\ryanair_reviews.csv")

In [42]:
ryanair.head()

,Unnamed: 0,Date Published,Overall Rating,Passenger Country,Trip_verified,Comment title,Comment,Aircraft,Type Of Traveller,Seat Type,...,Destination,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Value For Money,Recommended,Inflight Entertainment,Wifi & Connectivity
0,0,2024-02-03,10.0,United Kingdom,Not Verified,"""bang on time and smooth flights""",Flew back from Faro to London Luton Friday 2nd...,Boeing 737 900,Family Leisure,Economy Class,...,Luton,February 2024,4.0,5.0,3.0,4.0,4.0,yes,NaN,NaN
1,1,2024-01-26,10.0,United Kingdom,Trip Verified,"""Another good affordable flight""",Another good affordable flight with Ryanair. O...,NaN,Couple Leisure,Economy Class,...,Alicante,January 2024,3.0,5.0,3.0,5.0,5.0,yes,NaN,NaN
2,2,2024-01-20,10.0,United Kingdom,Trip Verified,“Really impressed!”,"Really impressed! You get what you pay for, th...",Boeing 737-800,Couple Leisure,Economy Class,...,Paris Beauvais,October 2023,5.0,5.0,4.0,5.0,5.0,yes,NaN,NaN
3,3,2024-01-07,6.0,United Kingdom,Trip Verified,“a decent offering from Ryanair”,I should like to review my flight from Faro to...,Boeing 737,Solo Leisure,Economy Class,...,Liverpool,January 2024,3.0,2.0,1.0,3.0,3.0,yes,NaN,NaN
4,4,2024-01-06,10.0,Israel,Trip Verified,“cabin crew were welcoming and friendly”,"Flight left the gate ahead of schedule, fare w...",Boeing 737-800,Solo Leisure,Economy Class,...,Manchester,January 2024,4.0,5.0,NaN,4.0,5.0,yes,NaN,NaN

In [43]:
ryanair.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249 entries, 0 to 2248
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              2249 non-null   int64
 1   Date Published          2249 non-null   object
 2   Overall Rating          2119 non-null   float64
 3   Passenger Country       2249 non-null   object
 4   Trip_verified           1305 non-null   object
 5   Comment title           2249 non-null   object
 6   Comment                 2249 non-null   object
 7   Aircraft                551 non-null    object
 8   Type Of Traveller       1635 non-null   object
 9   Seat Type               2249 non-null   object
 10  Origin                  1634 non-null   object
 11  Destination             1634 non-null   object
 12  Date Flown              1631 non-null   object
 13  Seat Comfort            2137 non-null   float64
 14  Cabin Staff Service     2128 non-null   float64
 15  Food & Beverages        1312 non-null   float64
 16  Ground Service          1578 non-null   float64
 17  Value For Money         2248 non-null   float64
 18  Recommended             2249 non-null   object
 19  Inflight Entertainment  331 non-null    float64
 20  Wifi & Connectivity     268 non-null    float64
dtypes: float64(8), int64(1), object(12)
memory usage: 369.1+ KB

Data Cleaning

In [44]:
#Remove the 'Unnamed: 0' column
ryanair_cleaned=ryanair.drop(columns=['Unnamed: 0'])

KeyError: "None of [Index(['Seat Comfort', 'Cabin Staff Service', 'Food & Beverages',\n       'Ground Service', 'Value For Money', 'Inflight Entertainment',\n       'Wifi & Connectivity'],\n      dtype='object')] are in the [columns]"

In [46]:
#Convert 'Date published' to datetime
ryanair_cleaned['Date Published']=pd.to_datetime(ryanair_cleaned['Date Published'])
## Convert 'Date Flown' to datetime, coerce any errors which will convert them to NaT (not a time)
ryanair_cleaned['Date Flown']=pd.to_datetime(ryanair_cleaned['Date Flown'])

C:\Users\matas\AppData\Local\Temp\ipykernel_23616\1410541535.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ryanair_cleaned['Date Flown']=pd.to_datetime(ryanair_cleaned['Date Flown'])

In [47]:
ryanair_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249 entries, 0 to 2248
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date Published          2249 non-null   datetime64[ns]
 1   Overall Rating          2119 non-null   float64
 2   Passenger Country       2249 non-null   object
 3   Trip_verified           1305 non-null   object
 4   Comment title           2249 non-null   object
 5   Comment                 2249 non-null   object
 6   Aircraft                551 non-null    object
 7   Type Of Traveller       1635 non-null   object
 8   Seat Type               2249 non-null   object
 9   Origin                  1634 non-null   object
 10  Destination             1634 non-null   object
 11  Date Flown              1631 non-null   datetime64[ns]
 12  Seat Comfort            2248 non-null   float64
 13  Cabin Staff Service     2248 non-null   float64
 14  Food & Beverages        2248 non-null   float64
 15  Ground Service          2248 non-null   float64
 16  Value For Money         2248 non-null   float64
 17  Recommended             2249 non-null   object
 18  Inflight Entertainment  331 non-null    float64
 19  Wifi & Connectivity     268 non-null    float64
dtypes: datetime64[ns](2), float64(8), object(10)
memory usage: 351.5+ KB

In [48]:
ryanair_cleaned.head()

,Date Published,Overall Rating,Passenger Country,Trip_verified,Comment title,Comment,Aircraft,Type Of Traveller,Seat Type,Origin,Destination,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Value For Money,Recommended,Inflight Entertainment,Wifi & Connectivity
0,2024-02-03,10.0,United Kingdom,Not Verified,"""bang on time and smooth flights""",Flew back from Faro to London Luton Friday 2nd...,Boeing 737 900,Family Leisure,Economy Class,Faro,Luton,2024-02-01,4.0,5.0,4.0,5.0,4.0,yes,NaN,NaN
1,2024-01-26,10.0,United Kingdom,Trip Verified,"""Another good affordable flight""",Another good affordable flight with Ryanair. O...,NaN,Couple Leisure,Economy Class,Belfast,Alicante,2024-01-01,3.0,5.0,3.0,5.0,5.0,yes,NaN,NaN
2,2024-01-20,10.0,United Kingdom,Trip Verified,“Really impressed!”,"Really impressed! You get what you pay for, th...",Boeing 737-800,Couple Leisure,Economy Class,Edinburgh,Paris Beauvais,2023-10-01,5.0,5.0,5.0,5.0,5.0,yes,NaN,NaN
3,2024-01-07,6.0,United Kingdom,Trip Verified,“a decent offering from Ryanair”,I should like to review my flight from Faro to...,Boeing 737,Solo Leisure,Economy Class,Faro,Liverpool,2024-01-01,3.0,2.0,3.0,2.0,3.0,yes,NaN,NaN
4,2024-01-06,10.0,Israel,Trip Verified,“cabin crew were welcoming and friendly”,"Flight left the gate ahead of schedule, fare w...",Boeing 737-800,Solo Leisure,Economy Class,Dublin,Manchester,2024-01-01,4.0,5.0,4.0,5.0,5.0,yes,NaN,NaN

In [49]:
#We will drop this columns since they dont offer this products
ryanair_cleaned=ryanair.drop(columns=['Unnamed: 0','Inflight Entertainment','Wifi & Connectivity'])

In [98]:
ryanair_cleaned=ryanair.drop(columns=['Unnamed: 0','Inflight Entertainment','Wifi & Connectivity'])

In [99]:
ryanair_cleaned.head()

,Date Published,Overall Rating,Passenger Country,Trip_verified,Comment title,Comment,Aircraft,Type Of Traveller,Seat Type,Origin,Destination,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Value For Money,Recommended
0,2024-02-03,10.0,United Kingdom,Not Verified,"""bang on time and smooth flights""",Flew back from Faro to London Luton Friday 2nd...,Boeing 737 900,Family Leisure,Economy Class,Faro,Luton,February 2024,4.0,5.0,3.0,4.0,4.0,yes
1,2024-01-26,10.0,United Kingdom,Trip Verified,"""Another good affordable flight""",Another good affordable flight with Ryanair. O...,NaN,Couple Leisure,Economy Class,Belfast,Alicante,January 2024,3.0,5.0,3.0,5.0,5.0,yes
2,2024-01-20,10.0,United Kingdom,Trip Verified,“Really impressed!”,"Really impressed! You get what you pay for, th...",Boeing 737-800,Couple Leisure,Economy Class,Edinburgh,Paris Beauvais,October 2023,5.0,5.0,4.0,5.0,5.0,yes
3,2024-01-07,6.0,United Kingdom,Trip Verified,“a decent offering from Ryanair”,I should like to review my flight from Faro to...,Boeing 737,Solo Leisure,Economy Class,Faro,Liverpool,January 2024,3.0,2.0,1.0,3.0,3.0,yes
4,2024-01-06,10.0,Israel,Trip Verified,“cabin crew were welcoming and friendly”,"Flight left the gate ahead of schedule, fare w...",Boeing 737-800,Solo Leisure,Economy Class,Dublin,Manchester,January 2024,4.0,5.0,NaN,4.0,5.0,yes

In [51]:
aircraft_nan_rows = ryanair_cleaned[ryanair_cleaned['Aircraft'].isna()].head(5)
aircraft_nan_rows

,Date Published,Overall Rating,Passenger Country,Trip_verified,Comment title,Comment,Aircraft,Type Of Traveller,Seat Type,Origin,Destination,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Value For Money,Recommended
1,2024-01-26,10.0,United Kingdom,Trip Verified,"""Another good affordable flight""",Another good affordable flight with Ryanair. O...,NaN,Couple Leisure,Economy Class,Belfast,Alicante,January 2024,3.0,5.0,3.0,5.0,5.0,yes
5,2024-01-06,1.0,Denmark,Not Verified,"""close online checkin 3 hours before""",Booked a fight from Copenhagen to Poland thoug...,NaN,Solo Leisure,Economy Class,Copenhagen,Gdansk,January 2024,2.0,2.0,2.0,1.0,1.0,no
7,2024-01-03,1.0,Australia,Trip Verified,"""asked me to pay for the backpack""","Staff is rude and has no manners, let alone be...",NaN,Solo Leisure,Economy Class,Beauvais,Barcelona,January 2024,NaN,NaN,NaN,1.0,1.0,no
8,2023-12-25,1.0,United Kingdom,Trip Verified,"""ground service staff is really bad""",Ryanair ground service staff is really bad. If...,NaN,Family Leisure,Economy Class,Edinbrough,Tirana,December 2023,1.0,NaN,NaN,1.0,1.0,no
9,2023-12-08,1.0,Germany,Not Verified,"""they made us pay a No show fee""",I wanted to check in online a night before our...,NaN,Couple Leisure,Economy Class,Cologne,Palma de Mallorca,November 2023,1.0,1.0,NaN,1.0,1.0,no

In [52]:
ryanair_cleaned['Aircraft'].unique()

array(['Boeing 737 900', nan, 'Boeing 737-800', 'Boeing 737',
       'Boeing 737Max', 'Boeing 737 800', 'Boeing 737-8200', 'B733-8022',
       'Boeing 347', 'Boeing 737 max', 'Boeing 737-10', 'B737',
       'Boeing 737 Max 8', '737 800', 'Boeing 737 Max', 'Boeing 737 MAX',
       'Boeing 737-8AS', 'A320', 'Boeing 737 MAX 8-200', 'Boeing 738',
       'Boeing 737max', 'Boeing 737-800 NG', 'Boeing 747-400',
       'Boeing 373-800', 'Bowen 737', 'Boeing 747', 'FR8852',
       'Boeing 737-400', 'Boeing  737-800', 'B737 800', 'Boeing 737-8',
       'A340', 'Boeing 737-700', 'A319', 'B737-800', 'Boeing 737- 800',
       'Boeing 737 - 800', 'Boing 737-800', 'Boeing', 'Boeing 747-800',
       'Boeing 737-900', 'Boeing 737-800 EI-ENX', 'Boeing 737 / 800',
       'B747', 'Boeing 737-800 series', '737300', 'Boeing 737-300',
       'A-340', 'Boeing 737/800', 'Boeing 737-800WL'], dtype=object)

In [100]:
#As i found all Rynair Aircrafts i can be sure which to include and which to remove
#Now i will do mapping of them
aircraft_mapping = {
    'Boeing 737-300': 'Boeing 737 Classic',
    'Boeing 737-700': 'Boeing 737 NG',
    'Boeing 737' : 'Boeing 737 NG',
    'Boeing 373-800': 'Boeing 737 NG',
    'Boeing 737-800': 'Boeing 737 NG',
    'Boeing 737-8': 'Boeing 737 NG',
    'Boeing 737-900': 'Boeing 737 NG',
    'Boeing 737 Max': 'Boeing 737 MAX',
    'Boeing 737 MAX': 'Boeing 737 MAX',
    'Boeing 737 Max 8': 'Boeing 737 MAX',
    'Boeing 737 Max 9': 'Boeing 737 MAX',
    'Boeing 737 Max 10': 'Boeing 737 MAX',
    'Boeing 737-8AS': 'Boeing 737 MAX',
    'Boeing 747-400': 'Boeing 747',
    'Boeing 747': 'Boeing 747',
    'Boeing 747-800': 'Boeing 747',
    'A320': 'Airbus A320',
    'A319': 'Airbus A320',
    'A340': 'Airbus A340',
    'B737': 'Boeing 737 NG',
    'B747': 'Boeing 747',
    'Boeing 737 800': 'Boeing 737 NG',
    'Boeing 737-800 NG': 'Boeing 737 NG',
    'Boeing 737-800WL': 'Boeing 737 NG',
    '737300': 'Boeing 737 Classic', 
    '737 800': 'Boeing 737 NG',
    'B737-800': 'Boeing 737 NG',
    'Boeing 737- 800': 'Boeing 737 NG',
    'Boeing 737 - 800': 'Boeing 737 NG',
    'Boeing 737 / 800': 'Boeing 737 NG',
    'Boeing 737/800': 'Boeing 737 NG',
    'Boeing 737-800 NG': 'Boeing 737 NG',
    'Boeing 737-800 series': 'Boeing 737 NG',
    'Boeing 737-800 EI-ENX': 'Boeing 737 NG',
    'Boing 737-800': 'Boeing 738',
    'Boeing 738': 'Boeing 738 NG ',
    'Boeing 737Max': 'Boeing 737 MAX',
    'Boeing 737max': 'Boeing 737 MAX',
    'Boeing 737 max': 'Boeing 737 MAX',
    'Boeing 737 MAX 8-200': 'Boeing 737 MAX',
    'Boeing 737-8200': 'Boeing 737 MAX',
    'B733-8022': 'Boeing 737 MAX',
    'Boeing 347': 'Boeing 747',
    'Boeing 737-10': 'Boeing MAX 10',
    'Bowen 737': 'Boeing 737 NG',
    'FR8852': 'Boeing 737 MAX 8',
    'Boeing 737-400': 'Boeing 737 Classic',
    'Boeing 737 - 800': 'Boeing 737 NG',
    'Boing 737-800': 'Being 737 NG',
    'Boeing 737': 'Boeing 737 NG',
    'Boeing': 'Boeing 737 NG,'



   
}

def map_aircraft_variant_to_family(variant, mapping):
    variant_normalized = variant.replace(" ", "").lower()
    for key in mapping:
        key_normalized = key.replace(" ", "").lower()
        if key_normalized in variant_normalized:
            return mapping[key]
    return "Other/Unknown"

# Apply the mapping to the 'Aircraft' column
ryanair_cleaned['Aircraft Family'] = ryanair_cleaned['Aircraft'].apply(
    lambda x: map_aircraft_variant_to_family(x, aircraft_mapping) if pd.notnull(x) else "Unknown"
)

In [54]:
ryanair_cleaned.head()

,Date Published,Overall Rating,Passenger Country,Trip_verified,Comment title,Comment,Aircraft,Type Of Traveller,Seat Type,Origin,Destination,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Value For Money,Recommended,Aircraft Family
0,2024-02-03,10.0,United Kingdom,Not Verified,"""bang on time and smooth flights""",Flew back from Faro to London Luton Friday 2nd...,Boeing 737 900,Family Leisure,Economy Class,Faro,Luton,February 2024,4.0,5.0,3.0,4.0,4.0,yes,Boeing 737 NG
1,2024-01-26,10.0,United Kingdom,Trip Verified,"""Another good affordable flight""",Another good affordable flight with Ryanair. O...,NaN,Couple Leisure,Economy Class,Belfast,Alicante,January 2024,3.0,5.0,3.0,5.0,5.0,yes,Unknown
2,2024-01-20,10.0,United Kingdom,Trip Verified,“Really impressed!”,"Really impressed! You get what you pay for, th...",Boeing 737-800,Couple Leisure,Economy Class,Edinburgh,Paris Beauvais,October 2023,5.0,5.0,4.0,5.0,5.0,yes,Boeing 737 NG
3,2024-01-07,6.0,United Kingdom,Trip Verified,“a decent offering from Ryanair”,I should like to review my flight from Faro to...,Boeing 737,Solo Leisure,Economy Class,Faro,Liverpool,January 2024,3.0,2.0,1.0,3.0,3.0,yes,Boeing 737 NG
4,2024-01-06,10.0,Israel,Trip Verified,“cabin crew were welcoming and friendly”,"Flight left the gate ahead of schedule, fare w...",Boeing 737-800,Solo Leisure,Economy Class,Dublin,Manchester,January 2024,4.0,5.0,NaN,4.0,5.0,yes,Boeing 737 NG

In [55]:
ryanair_cleaned['Destination'].unique()

array(['Luton', 'Alicante', 'Paris Beauvais', 'Liverpool', 'Manchester',
       'Gdansk', 'Pisa', 'Barcelona', 'Tirana', 'Palma de Mallorca',
       'Tirana via Stansted London', 'Stansted', 'Gatwick', 'Dublin',
       'Funchal', 'Faro', 'Naples', 'Milan', 'Vilnius', 'Riga', 'Paphos',
       'Kefalonia', 'Corfu', 'Copenhagen', 'La Rochelle', 'Vasteras',
       'Carcassonne', 'Athens', 'Madeira', 'Tanger', 'Bristol, UK',
       'Lisbon', 'Bratislava', 'Rome', 'Chania', 'Budapest', 'Bordeaux',
       'Berlin', 'Limoges', 'London Gatwick', 'Venice',
       'Newcastle via Dublin', 'Belfast', 'Edinburgh', 'Bergamo',
       'Santorini', 'Dortmund', 'Fuertaventura', 'Charleroi', 'Marakkesh',
       'London', 'London Stansted', 'Brussels', 'Cologne', 'Newquay',
       'Bergamo via Bristol', 'Bristol', 'Murcia', 'Newcastle', 'Warsaw',
       'Málaga', 'Tenerife', 'Marseille', 'Banja Luka', 'Milan Bergamo',
       'Catania', 'Malaga', 'Gdańsk', 'Fuerteventura', 'Bodrum',
       'Maastricht', 'Gran Canaria', 'Eindhoven', 'Rīga', 'Wroclaw',
       'Stockholm', 'Krakow', 'Nuremberg', 'Tangier', 'Leeds',
       'Fuerventura', 'Kraków', 'Kaunas via Budapest', 'Milan (Linate)',
       'Dalaman', 'Marrakech via Madrid', 'Seville', 'Bergerac', 'Paris',
       'Santiago', 'Rimini', 'Tenerife South', 'Luxembourg',
       'Stockholm Arlanda', 'Menorca', 'Kotor', 'Bolonia via Mykonos',
       'Wien', 'Bucharest', 'Malta', 'Torp', 'Zagreb', 'Birmingham',
       'Majorca', 'Lamezia', 'Cork', 'Palermo', 'Bergamo Italy', 'Oslo',
       'Brussels South', 'Shannon', 'Kerry', 'Prague', 'Tel Aviv',
       'Madrid', 'Nantes', 'Toulouse', 'Arrecife', 'Valletta',
       'Rome Ciampino', 'Knock', 'Southend', 'Milán', 'Dubrosnik',
       'Rodez', 'Vienna', 'Budapest via Stansted',
       'Gothenburg via Stansted', 'Crete', 'Ibiza', 'Palma', 'Bologna',
       'Shannon via Gatwick', 'Podgorica', 'Frankfurt', 'Amsterdam',
       'Thessaloniki', 'Perugia', 'Cracow', 'Rhodes', 'Lourdes', 'Porto',
       'Brindisi', 'Ponta Delgada', 'Tenerife south', 'Lanzarote',
       'Zaragoza', 'Kaunas', 'Bremen', 'Treviso', 'Bari', 'Einhoven',
       'Derry', 'London (Stansted)', 'Sarajevo via Cologne', 'Morocco',
       'Marrakech', 'Fuertuventura', 'Valencia', 'Tallinn', 'Trieste',
       'Prestwick', 'Milano Bergamo', 'Glasgow', 'Pescara', 'Marrakesh',
       'Kiev', 'Frankfurt Hahn', 'Split', 'Cagliari', 'Sophia', 'Cardiff',
       'Stockholm Skavsta', 'London Southend', 'Bournemouth', 'Santander',
       'Rabat', 'Hamburg', 'Brno', 'Aarhus', 'East Midlands',
       'Berlin Schönefeld', 'Girona', 'Stuttgart', 'Venice Treviso',
       'Brussels Charleroi', 'Rome-Ciampino', 'Cluj-Napoca via Luton',
       'Madrid via Berlin', 'Tampere', 'Łódź', 'Ovda',
       'Prague via Stansted', 'Barcelone', 'Stockholm-Skavsta',
       'Nis via Weeze', 'Nürnberg', 'Turin', 'Brindisi via Stansted',
       'Stansted (London)', 'Barcelona Reus', 'Malta and return',
       'Dusseldorf', 'Heraklion', 'Sofia', 'Glasgow via Stansted',
       'Gerona', 'Berlin-Schonefeld', 'Comiso', 'Pardubice', 'Rhodos',
       'Las Palmas', 'Stanford', 'Newcastle-upon-Tyne', 'Sevilla',
       'Oporto', 'Tarbes', 'Toulouse via London Stansted', 'Karlsruhe',
       'Grenoble', 'Wrowclaw', 'Athens via Stansted',
       'Stansted via Aalborg', 'Vilnius via Orio al Serio',
       'Cologne Bonn', 'Verona', 'Zadar', 'Rome Ciampnio', 'Stanstead',
       'Agadir', 'Milano', 'London Luton', 'Lisbon, Portugal',
       'Brussels CRL', 'Vigo', 'Santiago de Compustelo', 'Rzeszow',
       'Poitiers', 'Timisoara', 'Fez', 'BCN', 'SXF', 'DUB', 'EDI', 'BUD',
       'STN', 'FAO', 'BRS', 'LGW', 'PMI', 'CPH', 'LTN', 'ATH via BGY',
       'MAN', 'TSF', 'AGP', 'POZ', 'FCO', 'SNN', 'VNO', 'PDL', 'LIS',
       'ACE', 'CIA', 'MXP', 'OPO', 'SVQ', 'EMA', 'NYO', 'TLL', 'FUE',
       'MAD', 'BLQ', 'SDR', 'AMS', 'BTS', 'TFS', 'CRL', 'MJV', 'CGN',
       'VRN', 'NUE', 'FNI', 'PIK', 'FKB', 'KUN', 'ALC', 'GLA via DUB',
       'BVA', 'JMK', 'OTP', 'MLA', 'LPA', 'WRO', 'LPL', 'LIG', 'GOT',
       'PUY', 'BFS', 'SKG', 'BHX', 'BRU', 'HAM', 'WAW', 'PMO', 'LBA',
       'JTR', 'FEZ', 'TNG', 'RHO', 'ZAZ', 'E.Midlands', 'Gothenburg',
       'Beziers', 'Fuertenventura', 'Brussel', 'Jerez', 'Rriga', 'PSA',
       'Denmark', 'FMM', 'HHN', 'Warsaw Modlin', 'BRE', 'Leeds Bradford',
       'Lanzorote', 'CHQ', 'EDI via LON', 'Barcelona El Prat',
       'Glasgow Prestwick', 'Alghero', 'Kos', 'Billund', 'Mallorca',
       'Faro Portugal', 'Krakow return', 'Cyprus', 'Haugesund', 'Poznan',
       'AHO', 'Knock, Ireland', 'Rzeszow, Jasionka', 'Gasglow',
       'Bologna Italy', 'BRE via DUB', nan, 'Bydgoszcz', 'CHP'],
      dtype=object)

In [118]:
if not ryanair_cleaned.columns.any().islower():
    new_cols = []
    for item in ryanair_cleaned.columns:
        item = item.replace(' ', '_').lower()
        new_cols.append(item)
    ryanair_cleaned.columns = new_cols
    
# Drop rows with missing values.
ryanair_cleaned.dropna(subset=['destination', 'origin'], inplace=True)

In [119]:
# Define a regular expression to match non-ASCII characters
non_ascii_pattern = r'[^\x00-\x7F]'

# Use .str.contains to filter rows with non-ASCII characters
non_ascii_origin = list(
    ryanair_cleaned.loc[
        ryanair_cleaned['origin']
        .str.contains(non_ascii_pattern, regex=True)]
    ['origin'].unique()
)
print('Examples of locations with non-ASCII characters:')
for item in non_ascii_origin[:5]:
    print(f'\t- {item}')

Examples of locations with non-ASCII characters:
	- Kraków
	- Düsseldorf
	- Nürnberg

In [120]:
'''
Get rid of diacritic marks.
'''
ryanair_cleaned['origin'] = (
    ryanair_cleaned['origin']
    .str.normalize('NFKD')
    .str.encode('ascii', errors='ignore')
    .str.decode('utf-8')
)
ryanair_cleaned['destination'] = (
    ryanair_cleaned['destination']
    .str.normalize('NFKD')
    .str.encode('ascii', errors='ignore')
    .str.decode('utf-8')
)


'''------- Check the result! -------'''
# Use .str.contains to filter rows with non-ASCII characters
# Origin.
non_ascii_origin = list(
    ryanair_cleaned.loc[
        ryanair_cleaned['origin']
        .str.contains(non_ascii_pattern, regex=True)]
    ['origin'].unique()
)
# Destination.
non_ascii_destination = list(
    ryanair_cleaned.loc[
        ryanair_cleaned['destination']
        .str.contains(non_ascii_pattern, regex=True)]
    ['destination'].unique()
)

print('Strings with non-ASCII characters left:')
# If both lists are empty, print 'None'.
if (len(non_ascii_destination) == 0) and (len(non_ascii_origin) == 0):
    print('\tNone')

Strings with non-ASCII characters left:
	None

In [121]:
# Define a regular expression to match
# non-alphabetic characters except for spaces.
non_alphabetic_pattern = r'[^A-Za-z\s]'

# Use .str.contains to filter rows with those characters
non_ascii_origin = list(
    ryanair_cleaned.loc[
        ryanair_cleaned['origin']
        .str.contains(non_alphabetic_pattern, regex=True)]
    ['origin'].unique()
)
print('Examples of locations with non-alphabetic characters:')
for item in non_ascii_origin[:5]:
    print(f'\t- {item}')

Examples of locations with non-alphabetic characters:
	- Beziers, France
	- Leeds/Bradford
	- Tel-Aviv
	- Tel Aviv-Yafo
	- Crete (Chania)

In [122]:
'''
Drop non-alphabetic symbols.
'''
ryanair_cleaned['origin'] = (
    ryanair_cleaned['origin']
    # Replace non-alphabetic characters with a space.
    .str.replace(non_alphabetic_pattern, ' ', regex=True)
    # Get rid of double spaces.
    .str.replace('  ', ' ', regex=False)
)

ryanair_cleaned['destination'] = (
    ryanair_cleaned['destination']
    .str.replace(non_alphabetic_pattern, ' ', regex=True)
    .str.replace('  ', ' ', regex=False)
)

In [123]:
condition = (
    ryanair_cleaned['destination']
    .str.contains(' via ')
)

connecting_flights = (
    ryanair_cleaned
    .loc[condition]
    ['destination']
    .to_list()
)
print('Examples:')
for elem in connecting_flights[:3]:
    print(f'\t- {elem}')
print("-> Using locations before 'via' as destinations. ->")

# Use only 1st element for the column.    
ryanair_cleaned.loc[condition, 'destination'] = (
    ryanair_cleaned
    .loc[condition]
    ['destination']
    # Split a string to a list on ' via '.
    .str.split(' via ')
    # Extract 1st element from list after splitting.
    .str.get(0)
)
print('Number of connecting flights left:')
condition = (
    ryanair_cleaned['destination']
    .str.contains(' via ')
)
print(len(ryanair_cleaned.loc[condition]))

Examples:
	- Tirana via Stansted London
	- Newcastle via Dublin
	- Bergamo via Bristol
-> Using locations before 'via' as destinations. ->
Number of connecting flights left:
0

Replace IATA codes and airport names with city names

In [124]:
iata_codes = list(set(
    ryanair_cleaned[
        # Less than 5 letters.
        (ryanair_cleaned.origin.str.len() <= 4) &
        # Upper case.
        (ryanair_cleaned.origin.str.isupper())
    ]
    ['origin'].to_list()
))
print(f"There are {len(iata_codes)} IATA code(s) (origin).")
print('For instance:')
for elem in iata_codes[:5]:
    print(f'\t- {elem}')

There are 65 IATA code(s) (origin).
For instance:
	- PIK
	- PRG
	- EMA
	- EDI
	- PDL

In [125]:
'''
Additional dataset.
'''
# Data provided by: http://www.apinfo.ru/airports/export.html
url = 'https://drive.google.com/file/d/1artn-eO0wCKu_WQs-ryaWr6bpfmG4qIv/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
iata_df = pd.read_csv(path, sep = '|', encoding='latin-1')

In [126]:
def fix_name(col, name):
    '''
    Search for the airport's name containing
    the stated one ('name') and rename it
    (we search for 'Stansted' ->
    we rename 'London, Stansted' as 'Stansted').
    Connecting flights are not renamed
    ('Gothenburg via Stansted').
    Args:
        col (str): 'destination' or 'origin'
        name (str): airport's name to be used
    '''
    
    not_na = ~ryanair_cleaned[col].isna()
    contains_name = not_na & (ryanair_cleaned[col].str.contains(name))
    connecting_flight = not_na & ryanair_cleaned[col].str.contains(' via ')

    condition = contains_name & ~connecting_flight
    
    if ryanair_cleaned.loc[condition][col].nunique() > 1:
        print(f'Duplicates for {name} in {col}:')
        display(ryanair_cleaned.loc[condition][col].unique())

        print('Fixing the duplicates.')
        ryanair_cleaned.loc[condition, col] = name
        print('Checking:')
        display(ryanair_cleaned.loc[condition][col].unique())
        print()
    
    
def fix_iata(col, iata, name):
    '''
    Rename airport referred by IATA code.
    Args:
        col (str): 'destination' or 'origin'
        iata (str): IATA code to be replaced
        name (str): airport's name to be used
    Notes:
        Fix duplicates with fix_name()
    '''
    ryanair_cleaned[col] = ryanair_cleaned[col].str.replace(iata, name)

In [128]:
'''
London.
'''
london_airports = [
    ['STN', 'Stansted', 'London'],
    ['LTN', 'Luton', 'London'],
    ['LGW', 'Gatwick', 'London']
]

for col in 'origin', 'destination':
    for _ in london_airports:
        iata = _[0]
        airport = _[1]
        city = _[2]
        print(f'{iata} -> {city}')
        # Rename airport referred by IATA code.
        fix_iata(col, iata=iata, name=airport)
        # Search for the airport's name containing
        # the stated one and rewrite the cell's value.
        # (we search for 'Stansted' ->
        # we rename 'London, Stansted' as 'Stansted').
        fix_name(col, name=airport)
        fix_name(col, name=city)
        # Stansted -> London.
        ryanair_cleaned.loc[ryanair_cleaned[col] == airport, col] = city
        print(f'{col}: {airport} -> {city}')
    print()

STN -> London
origin: Stansted -> London
LTN -> London
origin: Luton -> London
LGW -> London
origin: Gatwick -> London

STN -> London
destination: Stansted -> London
LTN -> London
destination: Luton -> London
LGW -> London
destination: Gatwick -> London

In [130]:
'''
Other cities.
'''
# I prepared this list of IATA codes used in the dataset.
iata_list = ['TSF', 'DUB', 'NRN', 'JTR', 'VNO',
             'LPL', 'PSA', 'BRU', 'WRO', 'PUY',
             'OPO', 'HHN', 'ZAZ', 'PRG', 'PMO',
             'JMK', 'GRO', 'TFS', 'BRS', 'LIG',
             'MJV', 'OTP', 'MAN', 'AGP', 'FEZ',
             'TNG', 'CRL', 'PIK', 'EMA', 'FKB',
             'LIS', 'BLQ', 'BHX', 'AHO', 'RHO',
             'HAM', 'GOT', 'PDL', 'CIA', 'BCN',
             'SNN', 'LPA', 'BSL', 'CGN', 'BVA',
             'ATH', 'RAK', 'BUD', 'MXP', 'FCO',
             'SXF', 'CPH', 'POZ', 'TLL', 'BTS',
             'CRK', 'SVQ', 'PMI', 'NYO', 'WAW',
             'GLA', 'TXL', 'ALC', 'VRN', 'BLL', 'BFS', 'FAO',
             'BOH', 'EDI', 'FNI', 'CHP', 'VLG', 'SDR', 'ORK',
             'LBA', 'ACE', 'EGC', 'FUE', 'XRY', 'BRE', 'BGY',
             'MAD', 'KUN', 'SKG', 'CHQ', 'MLA', 'IBZ', 'AMS']

# Iterate through the list of IATA codes.
for iata in iata_list:
    # Borrow city's name from external dataset.
    city = (
        iata_df
        .loc[
            iata_df['iata_code'] == iata
    ]
        ['city_eng'].values[0]
    )

    print(f'{iata} -> {city} ({col})')
    
    for col in 'origin', 'destination':
    
        # Rename airport referred by IATA code.
        fix_iata(col, iata=iata, name=city)

        # Search for the airport's name containing
        # the stated one and rewrite the cell's value.
        # (we search for 'Stansted' ->
        # we rename 'London, Stansted' as 'Stansted').
        fix_name(col, name=city)

TSF -> Treviso (destination)
DUB -> Dublin (destination)
NRN -> Dusseldorf (destination)
JTR -> Santorini (Thira) (destination)
VNO -> Vilnius (destination)
LPL -> Liverpool (destination)
PSA -> Pisa (destination)
BRU -> Brussels (destination)
WRO -> Wroclaw (destination)
PUY -> Pula (destination)
OPO -> Porto (destination)
HHN -> Hahn (destination)
ZAZ -> Zaragoza (destination)
PRG -> Prague (destination)
PMO -> Palermo (destination)
JMK -> Mikonos (destination)
GRO -> Gerona (destination)
TFS -> Tenerife (destination)
BRS -> Bristol (destination)
LIG -> Limoges (destination)
MJV -> Murcia (destination)
OTP -> Bucharest (destination)
MAN -> Manchester (destination)
AGP -> Malaga (destination)
FEZ -> Fez (destination)
TNG -> Tangier (destination)
CRL -> Brussels (destination)
PIK -> Prestwick, South Ayrshire (destination)
EMA -> Derby (destination)
FKB -> Karlsruhe/Baden Baden (destination)
LIS -> Lisbon (destination)
BLQ -> Bologna (destination)
BHX -> Birmingham (destination)
AHO -> Alghero (destination)
RHO -> Rhodes (destination)
HAM -> Hamburg (destination)
GOT -> Gothenburg (destination)
PDL -> Ponta Delgada (destination)
CIA -> Rome (destination)
BCN -> Barcelona (destination)
SNN -> Shannon (destination)
LPA -> Las Palmas (destination)
BSL -> Mulhouse/basel (destination)
CGN -> Cologne (destination)
BVA -> Paris (destination)
ATH -> Athens (destination)
RAK -> Marrakech (destination)
BUD -> Budapest (destination)
MXP -> Milan (destination)
FCO -> Rome (destination)
SXF -> Berlin (destination)
CPH -> Copenhagen (destination)
POZ -> Poznan (destination)
TLL -> Tallinn (destination)
BTS -> Bratislava (destination)
CRK -> Angeles City (destination)

C:\Users\matas\AppData\Local\Temp\ipykernel_23616\2814723520.py:15: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  contains_name = not_na & (ryanair_cleaned[col].str.contains(name))

SVQ -> Sevilla (destination)
PMI -> Palma Mallorca (destination)
NYO -> Stockholm (destination)
WAW -> Warsaw (destination)
GLA -> Glasgow (destination)
TXL -> Berlin (destination)
ALC -> Alicante (destination)
VRN -> Verona (destination)
BLL -> Billund (destination)
BFS -> Belfast (destination)
FAO -> Faro (destination)
BOH -> Bournemouth (destination)
EDI -> Edinburgh (destination)
FNI -> Nimes (destination)
CHP -> Circle Hot Springs (destination)
VLG -> Villa Gesell (destination)
SDR -> Santander (destination)
ORK -> Cork (destination)
LBA -> Leeds (destination)
ACE -> Arrecife (destination)
EGC -> Bergerac (destination)
FUE -> Puerto del Rosario (destination)
XRY -> Jerez De La Frontera (destination)
BRE -> Bremen (destination)
BGY -> Bergamo (destination)
MAD -> Madrid (destination)
KUN -> Kaunas (destination)
SKG -> Thessaloniki (destination)
CHQ -> Chania (destination)
MLA -> Gudja (destination)
IBZ -> Ibiza (destination)
AMS -> Amsterdam (destination)

In [131]:
import fuzzywuzzy
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [132]:
print('========== Examples ==========')
e = [
    ['London, Stanstred', 'Stansted'],
    ['Wrowclaw', 'Wroclaw'],
    ['Barcelona', 'Barcelone'],
    ['Prestwick, South Ayrshire', 'Glasgow, Prestwick'],
    ['Prestwick', 'Glasgow, Prestwick'],
    ['Gasglow', 'Glasgow'],
    ['Londonderry', 'Derry'],
    ['Kyiv', 'Kiev'],
    ['Sophia', 'Sofia'],
    ['Tangier', 'Santander']
]
for item in e:
    e_1 = item[0]
    e_2 = item[1]
    print(f"\n'{e_1}' and '{e_2}'")
    pr = fuzz.partial_ratio(e_1.lower(), e_2.lower())
    r = fuzz.ratio(e_1.lower(), e_2.lower())
    print(f"\tPartial ratio: {pr}")
    print(f"\tRatio: {r}")

========== Examples ==========

'London, Stanstred' and 'Stansted'
	Partial ratio: 88
	Ratio: 64

'Wrowclaw' and 'Wroclaw'
	Partial ratio: 86
	Ratio: 93

'Barcelona' and 'Barcelone'
	Partial ratio: 89
	Ratio: 89

'Prestwick, South Ayrshire' and 'Glasgow, Prestwick'
	Partial ratio: 50
	Ratio: 42

'Prestwick' and 'Glasgow, Prestwick'
	Partial ratio: 100
	Ratio: 67

'Gasglow' and 'Glasgow'
	Partial ratio: 86
	Ratio: 86

'Londonderry' and 'Derry'
	Partial ratio: 100
	Ratio: 62

'Kyiv' and 'Kiev'
	Partial ratio: 75
	Ratio: 75

'Sophia' and 'Sofia'
	Partial ratio: 60
	Ratio: 73

'Tangier' and 'Santander'
	Partial ratio: 77
	Ratio: 62

In [133]:
condition = ryanair_cleaned['destination'].str.len() <= 6
names = list(set(ryanair_cleaned.loc[condition]['destination'].to_list()))
for name in names:
    # We find an erratic/different spelling
    # and add a desirable one manually.
    print(f"['{name}', ],")

['Dublin', ],
['Pula', ],
['Milan', ],
['Bodrum', ],
['Cracow', ],
['Kotor', ],
['Warsaw', ],
['Fez', ],
['Poznan', ],
['Derry', ],
['Oporto', ],
['Gudja', ],
['Knock', ],
['Nis', ],
['Lisbon', ],
['Vigo', ],
['London', ],
['Pisa', ],
['Kos', ],
['Porto', ],
['Turin', ],
['Verona', ],
['Cyprus', ],
['FMM', ],
['Naples', ],
['Rhodos', ],
['Wien', ],
['Vienna', ],
['Krakow', ],
['Tarbes', ],
['Ovda', ],
['Comiso', ],
['Palma', ],
['NUE', ],
['Kaunas', ],
['Brno', ],
['Kerry', ],
['Tanger', ],
['Agadir', ],
['Berlin', ],
['Malaga', ],
['Athens', ],
['Malta', ],
['Rodez', ],
['Rome', ],
['Rriga', ],
['Nimes', ],
['Rhodes', ],
['Derby', ],
['Crete', ],
['Rabat', ],
['odz', ],
['Bari', ],
['Rimini', ],
['Tirana', ],
['Zadar', ],
['Chania', ],
['Paphos', ],
['Murcia', ],
['Oslo', ],
['Gdansk', ],
['Cork', ],
['Zagreb', ],
['Hahn', ],
['Torp', ],
['Paris', ],
['Prague', ],
['Kiev', ],
['Madrid', ],
['Aarhus', ],
['Leeds', ],
['Nantes', ],
['Bremen', ],
['Gerona', ],
['Corfu', ],
['Jerez', ],
['Riga', ],
['Sophia', ],
['Split', ],
['Sofia', ],
['Girona', ],
['Venice', ],
['Faro', ],
['Ibiza', ],

In [134]:
# Create a list of destinations.
names = list(set(ryanair_cleaned['destination'].to_list()))
# Create a list to store pairs [option_1, option_2].
potential_typos = []
# Set thresholds to make search more or less sensitive.
pr_threshold = 80
r_threshold = 80

for name_1 in names: 
    for name_2 in names:
        if name_1 != name_2:
            # Calculate differences.
            partial_ratio = fuzz.partial_ratio(
                name_1.lower(),
                name_2.lower()
            )
            ratio = fuzz.ratio(
                name_1.lower(),
                name_2.lower()
            )
            # Define conditions using thresholds.
            condition_pr = partial_ratio > pr_threshold
            condition_r = ratio > r_threshold
            # See if this pair has score(s) more than threshold(s).
            if (condition_pr or condition_r):
                # Create a list for this pair.
                this_step = []
                # Add name_2.
                this_step.append(name_2)
                # Add name_1.
                this_step.append(name_1)
                potential_typos.append(this_step)
                
potential_typos

[['Santiago', 'Santiago de Compustelo'],
 ['Santorini (Thira)', 'Santorini'],
 ['Torp', 'Kotor'],
 ['Bolonia', 'Bologna'],
 ['Gasglow', 'Glasgow'],
 ['Santiago de Compustelo', 'Santiago'],
 ['Lanzarote', 'Lanzorote'],
 ['Porto', 'Oporto'],
 ['Knock Ireland', 'Knock'],
 ['Prestwick', 'Prestwick, South Ayrshire'],
 ['Marrakesh', 'Marrakech'],
 ['Oporto', 'Porto'],
 ['Malta and return', 'Turin'],
 ['Krakow return', 'Turin'],
 ['Gerona', 'Verona'],
 ['Rzeszow', 'Rzeszow Jasionka'],
 ['Turin', 'Malta and return'],
 ['Malta', 'Malta and return'],
 ['Rzeszow Jasionka', 'Rzeszow'],
 ['Nuremberg', 'Nurnberg'],
 ['Rhodes', 'Rhodos'],
 ['Eindhoven', 'Einhoven'],
 ['Newcastle', 'Newcastle upon Tyne'],
 ['Wrowclaw', 'Wroclaw'],
 ['Krakow return', 'Krakow'],
 ['Barcelone', 'Barcelona'],
 ['Palma', 'Palma Mallorca'],
 ['Palma de Mallorca', 'Palma Mallorca'],
 ['Mallorca', 'Palma Mallorca'],
 ['Brussels', 'Brussel'],
 ['E Midlands', 'East Midlands'],
 ['Wroclaw', 'Wrowclaw'],
 ['Palma Mallorca', 'Palma'],
 ['Palma de Mallorca', 'Palma'],
 ['Las Palmas', 'Palma'],
 ['Santander', 'Tanger'],
 ['Tangier', 'Tanger'],
 ['Marrakesh', 'Marakkesh'],
 ['Malta and return', 'Malta'],
 ['Tanger', 'Santander'],
 ['Newcastle upon Tyne', 'Newcastle'],
 ['Einhoven', 'Eindhoven'],
 ['Brussel', 'Brussels'],
 ['Lanzorote', 'Lanzarote'],
 ['Tanger', 'Tangier'],
 ['Marseille', 'Seville'],
 ['Sevilla', 'Seville'],
 ['Riga', 'Rriga'],
 ['Fuertaventura', 'Fuertuventura'],
 ['Fuerventura', 'Fuertuventura'],
 ['Fuerteventura', 'Fuertuventura'],
 ['Fuertenventura', 'Fuertuventura'],
 ['Rhodos', 'Rhodes'],
 ['Nurnberg', 'Nuremberg'],
 ['Fuertuventura', 'Fuertaventura'],
 ['Fuerventura', 'Fuertaventura'],
 ['Fuerteventura', 'Fuertaventura'],
 ['Fuertenventura', 'Fuertaventura'],
 ['Karlsruhe/Baden Baden', 'Karlsruhe'],
 ['Fuertuventura', 'Fuerventura'],
 ['Fuertaventura', 'Fuerventura'],
 ['Fuerteventura', 'Fuerventura'],
 ['Fuertenventura', 'Fuerventura'],
 ['Seville', 'Marseille'],
 ['Palma Mallorca', 'Palma de Mallorca'],
 ['Palma', 'Palma de Mallorca'],
 ['Mallorca', 'Palma de Mallorca'],
 ['Palma Mallorca', 'Mallorca'],
 ['Palma de Mallorca', 'Mallorca'],
 ['Turin', 'Krakow return'],
 ['Krakow', 'Krakow return'],
 ['Barcelona', 'Barcelone'],
 ['Seville', 'Sevilla'],
 ['Knock', 'Knock Ireland'],
 ['Kotor', 'Torp'],
 ['Palma', 'Las Palmas'],
 ['Fuertuventura', 'Fuerteventura'],
 ['Fuertaventura', 'Fuerteventura'],
 ['Fuerventura', 'Fuerteventura'],
 ['Fuertenventura', 'Fuerteventura'],
 ['Fuertuventura', 'Fuertenventura'],
 ['Fuertaventura', 'Fuertenventura'],
 ['Fuerventura', 'Fuertenventura'],
 ['Fuerteventura', 'Fuertenventura'],
 ['Riga', 'Gran Canaria'],
 ['Marrakech', 'Marrakesh'],
 ['Marakkesh', 'Marrakesh'],
 ['Verona', 'Gerona'],
 ['Girona', 'Gerona'],
 ['Rriga', 'Riga'],
 ['Gran Canaria', 'Riga'],
 ['Santorini', 'Santorini (Thira)'],
 ['Prestwick, South Ayrshire', 'Prestwick'],
 ['Bologna', 'Bolonia'],
 ['Gerona', 'Girona'],
 ['East Midlands', 'E Midlands'],
 ['Glasgow', 'Gasglow'],
 ['Karlsruhe', 'Karlsruhe/Baden Baden']]

In [135]:
# Selected pairs from the list above.
words_to_fix = [
    ['Malta and return', 'Malta'],
    ['Krakow return', 'Krakow'],
    ['Cracow', 'Krakow'],
    ['odz', 'Lodz'],
    ['Wien', 'Vienna'],
    ['Wrowclaw', 'Wroclaw'],
    ['Gasglow', 'Glasgow'],
    ['Girona', 'Gerona'],
    ['Tanger', 'Tangier'],
    ['Bruxelles', 'Brussels'],
    ['Brussel', 'Brussels'],
    ['Charleroi', 'Brussels'],
    ['Oporto', 'Porto'],
    ['Karlsruhe', 'Karlsruhe/Baden Baden'],
    ['Marakkesh', 'Marrakech'],
    ['Marrakesh', 'Marrakech'],
    ['Barcelone', 'Barcelona'],
    ['Sevilla', 'Seville'],
    ['Jerez', 'Jerez De La Frontera'],
    ['Rhodos', 'Rhodes'],
    ['Bergamo', 'Milan'],
    ['Milan', 'Milan'],
    ['Bolonia', 'Bologna'],
    ['Einhoven', 'Eindhoven'],
    ['Fuertenventura', 'Fuerteventura'],
    ['Fuertuventura', 'Fuerteventura'],
    ['Fuerventura', 'Fuerteventura'],
    ['Fuertaventura', 'Fuerteventura'],
    ['Knock Ireland', 'Knock'],
    ['Jasionka', 'Rzeszow'],
    ['Rzeszow Jasionka', 'Rzeszow'],
    ['Prestwick, South Ayrshire', 'Prestwick'],
    ['Prestwick', 'Glasgow'],
    ['Newcastle upon Tyne', 'Newcastle'],
    ['Rriga', 'Riga'],
    ['Santiago', 'Santiago de Compostela'],
    ['Santorini', 'Santorini'],
    ['NUE', 'Nuremberg'],
    ['Nurnberg', 'Nuremberg'],
    ['Midlands', 'East Midlands'],
    ['FMM', 'Memmingen'],
    ['Mallorca', 'Palma de Mallorca'],
    ['Palma Mallorca', 'Palma de Mallorca'],
    ['Majorca', 'Palma de Mallorca'],
    ['Lanzorote', 'Lanzarote']
]
# Check if there is a specified substring (item[0])
# to change the value of the cell to item[1].    
for item in words_to_fix:
    print(f"Substring '{item[0]}' -> new cell value '{item[1]}'")
    
    # Fix destinations.
    ryanair_cleaned.loc[
         ryanair_cleaned['destination']
        .str.contains(item[0]),
        'destination'] = item[1]
    
    # Fix origins, just in case.
    ryanair_cleaned.loc[
         ryanair_cleaned['origin']
        .str.contains(item[0]),
        'origin'] = item[1]
    
print()
for item in [
    ['Kiev', 'Kyiv'],
    ['Sophia', 'Sofia'],
    ['Fes', 'Fez'],
    ['Palma', 'Palma de Mallorca']
]:
    print(f"Value '{item[0]}' -> new value '{item[1]}'")
    ryanair_cleaned.loc[
         ryanair_cleaned['destination'] == item[0],
        'destination'] = item[1]
    
    ryanair_cleaned.loc[
         ryanair_cleaned['origin'] == item[0],
        'origin'] = item[1]

Substring 'Malta and return' -> new cell value 'Malta'
Substring 'Krakow return' -> new cell value 'Krakow'
Substring 'Cracow' -> new cell value 'Krakow'
Substring 'odz' -> new cell value 'Lodz'
Substring 'Wien' -> new cell value 'Vienna'
Substring 'Wrowclaw' -> new cell value 'Wroclaw'
Substring 'Gasglow' -> new cell value 'Glasgow'
Substring 'Girona' -> new cell value 'Gerona'
Substring 'Tanger' -> new cell value 'Tangier'
Substring 'Bruxelles' -> new cell value 'Brussels'
Substring 'Brussel' -> new cell value 'Brussels'
Substring 'Charleroi' -> new cell value 'Brussels'
Substring 'Oporto' -> new cell value 'Porto'
Substring 'Karlsruhe' -> new cell value 'Karlsruhe/Baden Baden'
Substring 'Marakkesh' -> new cell value 'Marrakech'
Substring 'Marrakesh' -> new cell value 'Marrakech'
Substring 'Barcelone' -> new cell value 'Barcelona'
Substring 'Sevilla' -> new cell value 'Seville'
Substring 'Jerez' -> new cell value 'Jerez De La Frontera'
Substring 'Rhodos' -> new cell value 'Rhodes'
Substring 'Bergamo' -> new cell value 'Milan'
Substring 'Milan' -> new cell value 'Milan'
Substring 'Bolonia' -> new cell value 'Bologna'
Substring 'Einhoven' -> new cell value 'Eindhoven'
Substring 'Fuertenventura' -> new cell value 'Fuerteventura'
Substring 'Fuertuventura' -> new cell value 'Fuerteventura'
Substring 'Fuerventura' -> new cell value 'Fuerteventura'
Substring 'Fuertaventura' -> new cell value 'Fuerteventura'
Substring 'Knock Ireland' -> new cell value 'Knock'
Substring 'Jasionka' -> new cell value 'Rzeszow'
Substring 'Rzeszow Jasionka' -> new cell value 'Rzeszow'
Substring 'Prestwick, South Ayrshire' -> new cell value 'Prestwick'
Substring 'Prestwick' -> new cell value 'Glasgow'
Substring 'Newcastle upon Tyne' -> new cell value 'Newcastle'
Substring 'Rriga' -> new cell value 'Riga'
Substring 'Santiago' -> new cell value 'Santiago de Compostela'
Substring 'Santorini' -> new cell value 'Santorini'
Substring 'NUE' -> new cell value 'Nuremberg'
Substring 'Nurnberg' -> new cell value 'Nuremberg'
Substring 'Midlands' -> new cell value 'East Midlands'
Substring 'FMM' -> new cell value 'Memmingen'
Substring 'Mallorca' -> new cell value 'Palma de Mallorca'
Substring 'Palma Mallorca' -> new cell value 'Palma de Mallorca'
Substring 'Majorca' -> new cell value 'Palma de Mallorca'
Substring 'Lanzorote' -> new cell value 'Lanzarote'

Value 'Kiev' -> new value 'Kyiv'
Value 'Sophia' -> new value 'Sofia'
Value 'Fes' -> new value 'Fez'
Value 'Palma' -> new value 'Palma de Mallorca'

In [136]:
# Create a list of starting points shorter than 6 letters.
condition = ryanair_cleaned['origin'].str.len() <= 6
names = list(set(ryanair_cleaned.loc[condition]['origin'].to_list()))
for name in names:
    # We find an erratic/different spelling
    # and add a desirable one manually.
    print(f"['{name}', ],")

['Dublin', ],
['Pula', ],
['Cork', ],
['Gdansk', ],
['Zagreb', ],
['Milan', ],
['Hahn', ],
['Porto', ],
['Bodrum', ],
['Lublin', ],
['Berlin', ],
['Malaga', ],
['Warsaw', ],
['Athens', ],
['Burgas', ],
['Malta', ],
['Lulea', ],
['Rodez', ],
['Fez', ],
['Weeze', ],
['Paris', ],
['Rome', ],
['Prague', ],
['Exeter', ],
['Naples', ],
['Pisa', ],
['Dinard', ],
['Derby', ],
['Vienna', ],
['Poznan', ],
['Roma', ],
['Madrid', ],
['Rabat', ],
['Kyiv', ],
['Krakow', ],
['Leeds', ],
['Ancona', ],
['Gerona', ],
['Bremen', ],
['Bari', ],
['Knock', ],
['Nis', ],
['Corfu', ],
['Genoa', ],
['Riga', ],
['Amman', ],
['Boston', ],
['Munich', ],
['Nice', ],
['Bati', ],
['Zadar', ],
['Odesa', ],
['Chania', ],
['Lisbon', ],
['Paphos', ],
['Sofia', ],
['Murcia', ],
['Venice', ],
['Kerry', ],
['AC', ],
['London', ],
['Faro', ],
['Bezier', ],
['Ibiza', ],
['Oslo', ],

In [137]:
# Create a list of origins.
names = list(set(ryanair_cleaned['origin'].to_list()))
# Create a list to store pairs [option_1, option_2].
potential_typos = []
# Set thresholds to make search more or less sensitive.
pr_threshold = 75
r_threshold = 75

for name_1 in names: 
    for name_2 in names:
        if name_1 != name_2:
            # Calculate differences.
            partial_ratio = fuzz.partial_ratio(
                name_1.lower(),
                name_2.lower()
            )
            ratio = fuzz.ratio(
                name_1.lower(),
                name_2.lower()
            )
            # Define conditions using thresholds.
            condition_pr = partial_ratio > pr_threshold
            condition_r = ratio > r_threshold
            # See if this pair has score(s) more than threshold(s).
            if (condition_pr or condition_r):
                # Create a list for this pair.
                this_step = []
                # Add name_2.
                this_step.append(name_2)
                # Add name_1.
                this_step.append(name_1)
                potential_typos.append(this_step)
                
potential_typos

[['Lublin', 'Dublin'],
 ['Nis', 'Santorini'],
 ['AC', 'Bergerac'],
 ['East Midlands', 'Milan'],
 ['Warszawa', 'Warsaw'],
 ['Catania', 'Gran Carnia'],
 ['Chania', 'Gran Carnia'],
 ['Gran Canaria', 'Gran Carnia'],
 ['Tenerife', 'Fez'],
 ['Arrecife', 'Fez'],
 ['Odesa', 'Bordeaux'],
 ['Burgas', 'Hamburg'],
 ['Ponta Delgada', 'Ponta Delgado'],
 ['Ponta DelGada', 'Ponta Delgado'],
 ['Ancona', 'Ancona Falconara'],
 ['Santorini', 'Nis'],
 ['Athens', 'Nis'],
 ['Memmingnem', 'Memmingen'],
 ['Rabat', 'Bati'],
 ['Bordeaux', 'Odesa'],
 ['Ponta Delgado', 'Ponta Delgada'],
 ['Ponta DelGada', 'Ponta Delgada'],
 ['Fez', 'Tenerife'],
 ['Beziers France', 'Bezier'],
 ['Gran Carnia', 'Catania'],
 ['Chania', 'Catania'],
 ['Tel Aviv', 'Tel Aviv Yafo'],
 ['Edinburgh', 'Edinbrough'],
 ['Hamburg', 'Burgas'],
 ['Salzburg', 'Burgas'],
 ['Gothenburg', 'Burgas'],
 ['Poitiers', 'Tangiers'],
 ['Ponta Delgado', 'Ponta DelGada'],
 ['Ponta Delgada', 'Ponta DelGada'],
 ['Ancona Falconara', 'Ancona'],
 ['Frankfurt', 'Frankfurt Hanh'],
 ['Beziers France', 'Nice'],
 ['Beauvais France', 'Nice'],
 ['Venice', 'Nice'],
 ['Milan', 'East Midlands'],
 ['Bergerac', 'AC'],
 ['Stanstred', 'Stanstead'],
 ['Bezier', 'Beziers France'],
 ['Nice', 'Beziers France'],
 ['Beauvais France', 'Beziers France'],
 ['Dublin', 'Lublin'],
 ['Dublin', 'Berlin'],
 ['Lublin', 'Berlin'],
 ['Malta', 'Malaga'],
 ['Nis', 'Athens'],
 ['Malaga', 'Malta'],
 ['Burgas', 'Salzburg'],
 ['Frankfurt Hanh', 'Frankfurt'],
 ['Marseille', 'Seville'],
 ['Nice', 'Beauvais France'],
 ['Beziers France', 'Beauvais France'],
 ['Beauvais', 'Beauvais France'],
 ['Bati', 'Rabat'],
 ['Seville', 'Marseille'],
 ['Edinbrough', 'Edinburgh'],
 ['Gothenburg', 'Edinburgh'],
 ['Gran Carnia', 'Chania'],
 ['Catania', 'Chania'],
 ['Lamezia', 'Lamezia Terme'],
 ['Memmingen', 'Memmingnem'],
 ['Tel Aviv Yafo', 'Tel Aviv'],
 ['Warsaw', 'Warszawa'],
 ['Gran Carnia', 'Gran Canaria'],
 ['Riga', 'Gran Canaria'],
 ['Fez', 'Arrecife'],
 ['Beauvais France', 'Beauvais'],
 ['Gran Canaria', 'Riga'],
 ['Lamezia Terme', 'Lamezia'],
 ['Stanstead', 'Stanstred'],
 ['Nice', 'Venice'],
 ['Burgas', 'Gothenburg'],
 ['Edinburgh', 'Gothenburg']]

In [138]:
words_to_fix = [
    ['Beziers France', 'Beziers'],
    ['Bezier', 'Beziers'],
    ['Mykonos', 'Mikonos'],
    ['Edinbrough', 'Edinburgh'],
    ['Tel Aviv', 'Tel Aviv'],
    ['Perugia Pisa', 'Pisa'],
    ['Milano', 'Milan'],
    ['Milano Malpensa', 'Milan'],
    ['Girona', 'Gerona'],
    ['Tangiers', 'Tangier'],
    ['Ponta Delgado', 'Ponta Delgada'],
    ['Ponta DelGada', 'Ponta Delgada'],
    ['Crete Chania ', 'Chania'],
    ['Gran Carnia', 'Gran Canaria'],
    ['Warsaw Modlin', 'Warsaw'],
    ['Warszawa', 'Warsaw'],
    ['Bucharest Otopeni', 'Bucharest'],
    ['Sevilla', 'Seville'],
    ['Jerez', 'Jerez De La Frontera'],
    ['Beauvais France', 'Paris'],
     ['Beauvais', 'Paris'],
    ['Ancona Falconara', 'Ancona'],
    ['Perugia Pisa', 'Pisa'],
    ['Lamezia Terme', 'Lamezia'],
    ['Memmingnem', 'Memmingen'],
    ['Stanstred', 'London'],
    ['Stanstead', 'London'],
]
    
    
words_to_fix
for item in words_to_fix:
    print(f"Substring '{item[0]}' -> new cell value '{item[1]}'")
    # Fix origins.
    ryanair_cleaned.loc[
        ryanair_cleaned['origin']
        .str.contains(item[0]),
        'origin'] = item[1]
    # Fix destinations.
    ryanair_cleaned.loc[
        ryanair_cleaned['destination']
        .str.contains(item[0]),
        'destination'] = item[1]

Substring 'Beziers France' -> new cell value 'Beziers'
Substring 'Bezier' -> new cell value 'Beziers'
Substring 'Mykonos' -> new cell value 'Mikonos'
Substring 'Edinbrough' -> new cell value 'Edinburgh'
Substring 'Tel Aviv' -> new cell value 'Tel Aviv'
Substring 'Perugia Pisa' -> new cell value 'Pisa'
Substring 'Milano' -> new cell value 'Milan'
Substring 'Milano Malpensa' -> new cell value 'Milan'
Substring 'Girona' -> new cell value 'Gerona'
Substring 'Tangiers' -> new cell value 'Tangier'
Substring 'Ponta Delgado' -> new cell value 'Ponta Delgada'
Substring 'Ponta DelGada' -> new cell value 'Ponta Delgada'
Substring 'Crete Chania ' -> new cell value 'Chania'
Substring 'Gran Carnia' -> new cell value 'Gran Canaria'
Substring 'Warsaw Modlin' -> new cell value 'Warsaw'
Substring 'Warszawa' -> new cell value 'Warsaw'
Substring 'Bucharest Otopeni' -> new cell value 'Bucharest'
Substring 'Sevilla' -> new cell value 'Seville'
Substring 'Jerez' -> new cell value 'Jerez De La Frontera'
Substring 'Beauvais France' -> new cell value 'Paris'
Substring 'Beauvais' -> new cell value 'Paris'
Substring 'Ancona Falconara' -> new cell value 'Ancona'
Substring 'Perugia Pisa' -> new cell value 'Pisa'
Substring 'Lamezia Terme' -> new cell value 'Lamezia'
Substring 'Memmingnem' -> new cell value 'Memmingen'
Substring 'Stanstred' -> new cell value 'London'
Substring 'Stanstead' -> new cell value 'London'

In [141]:
ryanair_cleaned['destination'].nunique()

178

In [101]:

ryanair_cleaned.drop('Aircraft', axis=1, inplace=True)

In [157]:
ryanair_cleaned.head()

,date_published,overall_rating,passenger_country,trip_verified,comment_title,comment,type_of_traveller,seat_type,origin,destination,date_flown,seat_comfort,cabin_staff_service,food_&_beverages,ground_service,value_for_money,recommended,aircraft_family,Food & Beverages
0,2024-02-03,10.0,United Kingdom,Not Verified,"""bang on time and smooth flights""",Flew back from Faro to London Luton Friday 2nd...,Family Leisure,Economy Class,Faro,London,February 2024,4.0,5.0,3.0,3.0,4.0,yes,Boeing 737 NG,3.0
1,2024-01-26,10.0,United Kingdom,Trip Verified,"""Another good affordable flight""",Another good affordable flight with Ryanair. O...,Couple Leisure,Economy Class,Belfast,Alicante,January 2024,3.0,5.0,3.0,3.0,5.0,yes,Boeing 737 NG,3.0
2,2024-01-20,10.0,United Kingdom,Trip Verified,“Really impressed!”,"Really impressed! You get what you pay for, th...",Couple Leisure,Economy Class,Edinburgh,Paris,October 2023,5.0,5.0,4.0,4.0,5.0,yes,Boeing 737 NG,4.0
3,2024-01-07,6.0,United Kingdom,Trip Verified,“a decent offering from Ryanair”,I should like to review my flight from Faro to...,Solo Leisure,Economy Class,Faro,Liverpool,January 2024,3.0,2.0,1.0,1.0,3.0,yes,Boeing 737 NG,1.0
4,2024-01-06,10.0,Israel,Trip Verified,“cabin crew were welcoming and friendly”,"Flight left the gate ahead of schedule, fare w...",Solo Leisure,Economy Class,Dublin,Manchester,January 2024,4.0,5.0,4.5,4.0,5.0,yes,Boeing 737 NG,4.0

In [144]:
# Step 1 & 2: Group by 'Origin' and 'Aircraft Family' and count the occurrences
most_common_aircraft = ryanair_cleaned.groupby('origin')['aircraft_family'].apply(lambda x: x.mode()[0] if not x.mode().empty else 'Unknown')

# Step 3: Map the most common aircraft to the 'Unknown' values
ryanair_cleaned.loc[ryanair_cleaned['aircraft_family'] == 'Unknown', 'aircraft_family'] = ryanair_cleaned['origin'].map(most_common_aircraft)

# Step 4: Verify the replacement
print(ryanair_cleaned['aircraft_family'])

0        Boeing 737 NG
1        Boeing 737 NG
2        Boeing 737 NG
3        Boeing 737 NG
4        Boeing 737 NG
             ...
1630     Boeing 737 NG
1631    Boeing 738 NG
1632     Boeing 737 NG
1633     Boeing 737 NG
1634           Unknown
Name: aircraft_family, Length: 1634, dtype: object

In [145]:
aircraft_family_counts = ryanair_cleaned['aircraft_family'].value_counts()
aircraft_family_counts

aircraft_family
Unknown               893
Boeing 737 NG         707
Boeing 747             10
Boeing 738 NG           9
Airbus A320             6
Airbus A340             2
Boeing 737 Classic      2
Boeing 737 MAX          1
Boeing 737 MAX 8        1
Being 737 NG            1
Boeing 737 NG,          1
Other/Unknown           1
Name: count, dtype: int64

In [146]:
boeing_747_flights = ryanair_cleaned[ryanair_cleaned['aircraft_family'] == 'Boeing 747']
boeing_747_flights
ryanair_cleaned['origin'].value_counts()

origin
London            269
Dublin             98
Manchester         70
Barcelona          57
Athens             44
                 ...
Genoa               1
Frankfurt Hanh      1
Hungary             1
Skavsta             1
Mulhouse/basel      1
Name: count, Length: 160, dtype: int64

In [176]:
# Step 1: Identify the relevant columns
service_columns = ['seat_comfort', 'cabin_staff_service', 'food_&_beverages', 'ground_service', 'value_for_money']

# Step 2: Calculate the row-wise median for these columns, ignoring NaNs
row_medians = ryanair_cleaned[service_columns].median(axis=1, skipna=True).round(0)

# Step 3: Use the calculated medians to fill in NaNs in each respective column
for column in service_columns:
    ryanair_cleaned[column] = ryanair_cleaned[column].fillna(row_medians)

In [177]:
ryanair_cleaned.head(15)

,date_published,overall_rating,passenger_country,trip_verified,comment_title,comment,type_of_traveller,seat_type,origin,destination,date_flown,seat_comfort,cabin_staff_service,food_&_beverages,ground_service,value_for_money,recommended,aircraft_family,Food & Beverages
0,2024-02-03,10.0,United Kingdom,Not Verified,"""bang on time and smooth flights""",Flew back from Faro to London Luton Friday 2nd...,Family Leisure,Economy Class,Faro,London,February 2024,4.0,5.0,3.0,3.0,4.0,yes,Boeing 737 NG,3.0
1,2024-01-26,10.0,United Kingdom,Trip Verified,"""Another good affordable flight""",Another good affordable flight with Ryanair. O...,Couple Leisure,Economy Class,Belfast,Alicante,January 2024,3.0,5.0,3.0,3.0,5.0,yes,Boeing 737 NG,3.0
2,2024-01-20,10.0,United Kingdom,Trip Verified,“Really impressed!”,"Really impressed! You get what you pay for, th...",Couple Leisure,Economy Class,Edinburgh,Paris,October 2023,5.0,5.0,4.0,4.0,5.0,yes,Boeing 737 NG,4.0
3,2024-01-07,6.0,United Kingdom,Trip Verified,“a decent offering from Ryanair”,I should like to review my flight from Faro to...,Solo Leisure,Economy Class,Faro,Liverpool,January 2024,3.0,2.0,1.0,1.0,3.0,yes,Boeing 737 NG,1.0
4,2024-01-06,10.0,Israel,Trip Verified,“cabin crew were welcoming and friendly”,"Flight left the gate ahead of schedule, fare w...",Solo Leisure,Economy Class,Dublin,Manchester,January 2024,4.0,5.0,4.5,4.0,5.0,yes,Boeing 737 NG,4.0
5,2024-01-06,1.0,Denmark,Not Verified,"""close online checkin 3 hours before""",Booked a fight from Copenhagen to Poland thoug...,Solo Leisure,Economy Class,Copenhagen,Gdansk,January 2024,2.0,2.0,2.0,2.0,1.0,no,Unknown,2.0
6,2024-01-03,5.0,United Kingdom,Not Verified,"""they are really not better value""",The flight itself is operated by Malta air and...,Business,Economy Class,London,Pisa,December 2023,2.0,5.0,2.0,2.0,1.0,yes,Boeing 737 NG,2.0
7,2024-01-03,1.0,Australia,Trip Verified,"""asked me to pay for the backpack""","Staff is rude and has no manners, let alone be...",Solo Leisure,Economy Class,Paris,Barcelona,January 2024,1.0,1.0,1.0,1.0,1.0,no,Unknown,1.0
8,2023-12-25,1.0,United Kingdom,Trip Verified,"""ground service staff is really bad""",Ryanair ground service staff is really bad. If...,Family Leisure,Economy Class,Edinburgh,Tirana,December 2023,1.0,1.0,1.0,1.0,1.0,no,Unknown,1.0
9,2023-12-08,1.0,Germany,Not Verified,"""they made us pay a No show fee""",I wanted to check in online a night before our...,Couple Leisure,Economy Class,Cologne,Palma de Mallorca,November 2023,1.0,1.0,1.0,1.0,1.0,no,Unknown,1.0
10,2023-12-06,8.0,Albania,Not Verified,“Crew extremely well presented”,"Krakow to Tirana with Ryanair's subsidiary, Bu...",Business,Economy Class,Krakow,Tirana,December 2023,3.0,5.0,4.0,3.0,5.0,yes,Boeing 737 NG,3.0
11,2023-12-04,1.0,Singapore,Trip Verified,"""pay if you don’t check in online""",This airline charges you for almost every thin...,Family Leisure,Economy Class,Porto,Barcelona,December 2023,1.0,1.0,1.0,1.0,1.0,no,Unknown,1.0
12,2023-12-04,3.0,Portugal,Trip Verified,“At least 5 passengers denied boarding”,At least 5 passengers denied boarding in Lisbo...,Solo Leisure,Economy Class,Lisbon,Tirana,December 2023,3.0,2.0,1.0,1.0,3.0,no,Boeing 737 NG,1.0
13,2023-12-02,1.0,United Kingdom,Trip Verified,"""eight of the 10 flights had delays""",This is my tenth flight with Ryanair this year...,Couple Leisure,Economy Class,Cologne,London,December 2023,1.0,1.0,1.0,1.0,1.0,no,Unknown,1.0
14,2023-11-21,1.0,Canada,Trip Verified,"""try to avoid it in the future""",We have a return flight from Gatwick to Alican...,Couple Leisure,Economy Class,Alicante,London,November 2023,1.0,2.0,1.0,1.0,2.0,no,Unknown,1.0

In [178]:
ryanair_cleaned.drop('Food & Beverages', axis=1, inplace=True)

In [183]:
aircraft_family_counts = ryanair_cleaned['aircraft_family'].value_counts()
aircraft_family_counts

aircraft_family
Unknown               893
Boeing 737 NG         707
Boeing 747             10
Boeing 738 NG           9
Airbus A320             6
Airbus A340             2
Boeing 737 Classic      2
Boeing 737 MAX          1
Boeing 737 MAX 8        1
Being 737 NG            1
Boeing 737 NG,          1
Other/Unknown           1
Name: count, dtype: int64

In [186]:
rows=ryanair_cleaned[ryanair_cleaned['aircraft_family']=='Airbus A320']
rows

,date_published,overall_rating,passenger_country,trip_verified,comment_title,comment,type_of_traveller,seat_type,origin,destination,date_flown,seat_comfort,cabin_staff_service,food_&_beverages,ground_service,value_for_money,recommended,aircraft_family
99,2023-04-28,8.0,Netherlands,Trip Verified,"""A pleasant experience""",A 40 min flight with Lauda operating for Ryana...,Solo Leisure,Economy Class,Vienna,Banja Luka,April 2023,2.0,5.0,5.00,5.0,5.0,yes,Airbus A320
113,2023-03-25,7.0,Croatia,Trip Verified,"""very good service with lots of smile""",Return flight ZAG-AGP-ZAG in mid - March 2023....,Solo Leisure,Economy Class,Zagreb,Malaga,March 2023,3.0,5.0,3.00,3.0,5.0,yes,Airbus A320
261,2022-01-31,1.0,United Kingdom,Trip Verified,"""Departure delayed for 45 minutes""",Departure delayed for 45 minutes. Flight retur...,Solo Leisure,Economy Class,Stockholm,London,January 2022,2.0,2.0,1.75,2.0,1.0,no,Airbus A320
699,2019-04-30,1.0,Germany,Trip Verified,"""fraudulent and absolutely unacceptable""",Together with my wife and my two kids (3 and 1...,Family Leisure,Economy Class,Copenhagen,Stuttgart,April 2019,2.0,3.0,4.00,4.0,4.0,no,Airbus A320
918,2018-07-13,1.0,United States,Trip Verified,"""very disappointing experience""",Hamburg to Edinburgh. Unprofessional airline. ...,Couple Leisure,Economy Class,Hamburg,Edinburgh,July 2018,1.0,1.0,1.00,1.0,1.0,no,Airbus A320
1463,2015-11-03,5.0,United Kingdom,NaN,"""ill mannered Ryanair employee""",Last night in Barcelona I met the most rude an...,Family Leisure,Economy Class,Barcelona,Dublin,November 2015,4.0,5.0,4.50,4.0,5.0,yes,Airbus A320

In [187]:
# Export the entire cleaned DataFrame to a CSV file
ryanair_cleaned.to_csv('ryanair_cleaned_dataset.csv', index=False)